// Variables

$font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
$font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
$font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
$font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
$font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
$font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
$font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

// Fonts Install

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


//Reset

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

// Header

header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px 20px 0 20px;
    font-size: $font-size-base;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom: solid 1px black;
}

nav {
    display: flex;
}

.logo--container {
    img {
        width: 90px;
    }
}

.nav-items-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    li {
        padding-left: 2vw;
    }
}

a {
    opacity: 1;
}

.menu-items {
    text-align: left;
}

a:hover {
    text-decoration: underline;
    color: black;
}

@media screen and (max-width: 950px) {
    .nav-items-container {
        display: none;
    }
}

// Menu Mobile 

.toggle--menu {
    display: none;
}

.closeBtn {
    display: none;
}

.menu--mobile--container {
    display: none;
}

.menu--mobile {
    z-index: 998;
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0; left: 0;
    color: black;
    transition: opacity 2s;
}

@media screen and (max-width: 950px) {
    .toggle--menu {
        display: flex;
        z-index: 999;
    }
}

// Banner 

.banner--container {
    position: absolute;
    width: 100%;
    height: 95vh;
    z-index: 1;
}

.banner {
    position: relative;
    height: 100%;
    background-image: url(/assets/img/home/bg-img.jpeg);
    background-position: center;
    background-size: cover;
}

.banner--txt {
    position: absolute;
    top: 40%; left: 0;
    z-index: 10;
    color: white;
    margin-left: 2rem;
    font-size: $font-size-xxxl;
    font-family: 'Epilogue', sans-serif;
    font-weight: 600;
}

// Footer

footer {
    padding: 20px;
    border-top: solid black 1px;
    font-size: $font-size-base;
    nav {
        width: 100%;
        .footer-nav {
            width: 100%;
            display: flex;
            justify-content: space-around;
            ul p {
                font-weight: 600;
                margin-bottom: 1vw;
                border-top: solid 1 px black;
            }
            ul li {
                padding-bottom: .5vw;
                cursor: pointer;
            }
        }
    }
}

.signature{
    margin-top: 1vw;
    font-size: $font-size-sm;
    font-style: italic;
    font-weight: 300;
    p {
        padding-bottom: .5vw;
    }
}

// Footer Responsive 

@media screen and (max-width: 950px) {
    footer {
        .logo--container {
            margin-bottom: 6vw;
        }
    }
}

// Cart Menu

.cart-menu {
    display: none;
    justify-content: flex-end;
    width: 30%;
    height: 100%;
    background-color: white;
    position: fixed;
    z-index: 999;
    top: 0; right: 0;
    img {
        width: 30px;
        height: 30px;
        margin-top: 20px;
        margin-right: 20px;
        cursor: pointer;
        transform: translateX(-50%);
    }
}

.shopping-cart img {
    width: 30px;
    margin-left: 2vw;
    cursor: pointer;

}