@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 20px 20px 0 20px;
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: white;
  border-bottom: solid 1px black;
}

nav {
  display: flex;
}

.logo--container img {
  width: 90px;
}

.nav-items-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-items-container li {
  padding-left: 2vw;
}

a {
  opacity: 1;
}

.menu-items {
  text-align: left;
}

a:hover {
  text-decoration: underline;
  color: black;
}

@media screen and (max-width: 950px) {
  .nav-items-container {
    display: none;
  }
}
.toggle--menu {
  display: none;
}

.closeBtn {
  display: none;
}

.menu--mobile--container {
  display: none;
}

.menu--mobile--container {
  width: 100%;
  height: 100vh;
}
.menu--mobile--container .menu--mobile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 998;
  width: 100%;
  height: 100vh;
  margin-left: 0;
  position: fixed;
  top: 0;
  left: 0;
  color: black;
  font-size: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
  background-color: white;
}
.menu--mobile--container .menu--mobile li {
  padding-bottom: 50px;
}

@media screen and (max-width: 950px) {
  .toggle--menu {
    display: flex;
    z-index: 999;
  }
}
.banner--container {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
}

.banner {
  position: relative;
  height: 100%;
  background-image: url(/assets/img/home/bg-img.jpeg);
  background-position: center;
  background-size: cover;
}

.banner--txt {
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 10;
  color: white;
  margin-left: 2rem;
  font-size: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
  font-family: "Epilogue", sans-serif;
  font-weight: 600;
}

footer {
  margin-top: 15vw;
  padding: 20px;
  border-top: solid black 1px;
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
}
footer nav {
  width: 100%;
  margin-bottom: 6vw;
}
footer nav .footer-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
footer nav .footer-nav ul p {
  font-weight: 600;
  margin-bottom: 1vw;
  border-top: solid 1 px black;
}
footer nav .footer-nav ul li {
  padding-bottom: 0.5vw;
  cursor: pointer;
}

.signature {
  margin-top: 1vw;
  font-size: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  font-style: italic;
  font-weight: 300;
}
.signature p {
  padding-bottom: 0.5vw;
}

@media screen and (max-width: 950px) {
  footer .logo--container {
    margin-bottom: 6vw;
  }
}
.cart-menu {
  display: none;
  justify-content: flex-end;
  width: 30%;
  height: 100%;
  background-color: white;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
}
.cart-menu img {
  width: 30px;
  height: 30px;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
  transform: translateX(-50%);
}

.shopping-cart img {
  width: 30px;
  margin-left: 2vw;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .shopping-cart img {
    margin-right: 5vw;
  }
}
.container-product {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vw;
}

.product-p-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
}
.product-p-container .product-title {
  position: absolute;
  left: 0;
  z-index: 99;
  margin-top: 2vw;
  margin-left: 5vw;
  font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  font-weight: 600;
}
.product-p-container .product-p-img {
  width: 50%;
  position: relative;
  top: 300px;
}
.product-p-container .product-p-img img {
  width: 1160px;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  transform: rotate(287deg);
}
.product-p-container .product-p-des {
  margin-top: 200px;
  margin-left: 2vw;
  width: 30%;
  z-index: 100;
}

.txt-space {
  display: block;
  margin-bottom: 1vw;
}

.price-ttle {
  font-size: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  font-weight: 600;
}

.cta {
  font-size: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  font-weight: 700;
  margin-top: 5vw;
  text-transform: uppercase;
}
.cta .btn {
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  body {
    overflow-x: hidden;
  }
  .product-p-img {
    width: 50%;
    position: relative;
    right: 300px;
  }
  .product-p-container .product-p-des {
    width: 40%;
  }
}
@media screen and (max-width: 765px) {
  .product-p-container .product-p-img img {
    width: 800px;
  }
  .product-p-img {
    width: 50%;
    position: relative;
    right: 200px;
  }
  .product-p-container .product-p-des {
    width: 60%;
  }
}
@media screen and (max-width: 650px) {
  .product-p-container .product-p-img {
    width: 0;
    position: relative;
    top: 300px;
    opacity: 0.2;
  }
  .product-p-img {
    width: 0;
    position: relative;
    right: 200px;
  }
  .product-p-container .product-p-des {
    width: 100%;
  }
  .product-p-container .product-p-des {
    margin-left: 0;
  }
}
.info-prd-container {
  margin-top: 10vw;
  position: relative;
}
.info-prd-container .features .features-ttle {
  font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  font-weight: 600;
}

.carousel {
  display: flex;
  height: 60vh;
  position: relative;
  margin-top: 5vw;
}
.carousel img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}
.carousel .c-items {
  opacity: 0;
}
.carousel .active {
  opacity: 1;
}

.carousel-controler {
  font-size: 40px;
  cursor: pointer;
}
.carousel-controler .precedent {
  position: absolute;
  top: 60%;
  left: 0;
  z-index: 99;
}
.carousel-controler .suivant {
  position: absolute;
  top: 60%;
  left: 95%;
  z-index: 99;
}
.carousel-controler .suivant.anim {
  opacity: 1;
}
.carousel-controler .precedent.anim {
  opacity: 1;
}

@media screen and (max-width: 765px) {
  .carousel-controler {
    font-size: 30px;
  }
}/*# sourceMappingURL=product.css.map */