@import 'main.scss';


.shop--container {
    margin: 5vw;
}

.ttle-s {
    font-size: $font-size-xl;
    font-weight: 700;
}

.product--info {
    display: flex;
    flex-direction: row;
    margin-top: 2.5vw;
    height: 100vh;
}

.product-img {
        width: 50%;
        height: auto;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
}

.info-txt {
    padding-left: 5vw;
    width: 50%;
    text-align: left;
    .info-ttle{
        font-size: $font-size-xl;
    }
    p{
        font-size: $font-size-lg;
        margin-top: 2vw;
        width: 80%;
        font-weight: 300;
    }
}

.btn-vm a {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    cursor: pointer;
    a {
        padding-right: 1vw;
        transform: translateY(20%);
    }
    p {
        text-decoration: underline;
    }
}

// Section New Responsive

@media screen and (max-width: 1000px) {
    .info-txt p {
        width: 100%;
    }
}

// Products

.shop .ttle-s {
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
}

.shop--page {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.product-container {
    width: 33.33%;
    margin-top: 7vw;
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-container img {
        width: 240px;
        height: auto;
    }
    .product-info {
        margin-top: 2vw;
        width: 100%;
        .ttle-product {
            font-size: $font-size-base;
        }
        .price {
            margin-top: .5vw;
            font-weight: 600;
        }
    }
}

// Shop Responsive

@media screen and (max-width: 950px) {
    .product-container {
        width: 50%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .img-container img{
            width: 160px;
        }
    }
    .product--info {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 950px) {
    .product-container {
        width: 100%;
    }
}

@media screen and (max-width: 950px) {
    .product--info {
        flex-direction: column;
        margin-bottom: 5vw;
        height: 100%;
    }
    .info-txt {
        width: 100%;
        padding-left: 0;
        margin-top: 5vw;
    }
    .product-img {
        width: 100%;
        height: 100vh;
        background-size: cover;
    }
}